

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 10px 10px;

}

  .footer_left {
    max-width: 400px;
  }
   .footer_left img {
      max-width: 150px;
      margin-bottom: 20px;
      width: 100px;
      height: 70px;
      margin-left: 20px;
    }

  .footer_center {
    text-decoration: none;
    margin-top: 10px;
  }
    ul {
      list-style: none;
      margin-top: 20px;
      cursor: pointer;
    }
    li{
        padding-bottom: 10px;
    }
      li:hover {
        color: pink
      }

      a {
        text-decoration: none;
        color: black;

  
      }
      .phone-icon{
        padding-top: 0px;
    margin-top: 5px;
      }
      .email-icon{
        padding-top: 0px;
    margin-top: 8px;
      }

  .footer_right {
    max-width: 350px;
    margin-top: -33px;}
    h3 {
      margin-bottom: 20px;
    }

    .footer_right_info {
      display: flex;
    }
    .footer_right_info p {
        margin-left: 20px;
        margin-bottom: 15px;
      }
@media (max-width:1492px) {
    

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 10px 70px;
  
  }
  
    .footer_left {
      max-width: 400px;
    }
     .footer_left img {
        max-width: 150px;
        margin-bottom: 20px;
        width: 100px;
        height: 70px;
        margin-left: 20px;
      }
  
    .footer_center {
      text-decoration: none;
      margin-top: 10px;
    }
      ul {
        list-style: none;
        margin-top: 20px;
        cursor: pointer;
      }
      li{
          padding-bottom: 10px;
      }
        li:hover {
          color: pink
        }
  
        a {
          text-decoration: none;
          color: black;
  
    
        }
        .phone-icon{
          padding-top: 0px;
      margin-top: 5px;
        }
        .email-icon{
          padding-top: 0px;
      margin-top: 8px;
        }
  
    .footer_right {
      max-width: 350px;
      margin-top: -33px;}
      .footer_right h3 {
        margin-bottom: 20px;
        font-size: 26px;
      }
  
      .footer_right_info {
        display: flex;
      }
      .footer_right_info p {
          margin-left: 20px;
          margin-bottom: 15px;
        }
}
@media (max-width:900px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 2px 30px;
    }
    .footer_left {
        max-width: 100px      }
    .footer_left img {
        margin-bottom: 20px;
        width: 100px;
        height: 70px;
        margin-left: 10px;
        margin-right: 10px;
      }
  
    .footer_center {
      text-decoration: none;
      margin-top: 10px;
      margin-left: 10px;
    }
      ul {
        list-style: none;
        margin-top: 20px;
        cursor: pointer;
      }
      li{
          padding-bottom: 10px;
          font-size: 10px;
      }
        li:hover {
          color: pink
        }
  
        a {
          text-decoration: none;
          color: black;
  
    
        }
        .phone-icon{
            padding-top: 0px;
            margin-top: 2px;
            font-size: 10px;
        }
        .email-icon{
            margin-top: 3px;
            font-size: 10px;
            margin-left: 0px;
        }
  
    .footer_right {
        margin-top: -24px;
        }
      .footer_center h3 {
        margin-bottom: 20px;
        font-size: 14px;
      }
  
      .footer_right_info {
        display: flex;
      }
      .footer_right_info p {
        margin-left: 20px;
        margin-bottom: 11px;
        font-size: 11px;
        }
        .footer_right h3 {
            margin-bottom: 20px;
            font-size: 15px;
          }
}
@media (max-width:530px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 2px 20px;
    }
    .footer_left {
        max-width: 100px      }
    .footer_left img {
        margin-bottom: 20px;
        width: 70px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
      }
  
    .footer_center {
      text-decoration: none;
      margin-top: 10px;
      margin-left: 10px;
    }
      ul {
        list-style: none;
        margin-top: 15px;
        cursor: pointer;
      }
      li{
          padding-bottom: 5px;
          font-size: 7px;
      }
        li:hover {
          color: pink
        }
  
        a {
          text-decoration: none;
          color: black;
  
    
        }
        .phone-icon{
            padding-top: 0px;
            margin-top: 2px;
            font-size: 7px;
        }
        .email-icon{
            margin-top: 2px;
            font-size: 7px;
            margin-left: 0px;
        }
  
    .footer_right {
        margin-top: -20px;
        }
      .footer_center h3 {
        margin-bottom: 20px;
        font-size: 10px;
      }
  
      .footer_right_info {
        display: flex;
      }
      .footer_right_info p {
        margin-left: 20px;
        margin-bottom: 11px;
        font-size: 8px;
        }
        .footer_right h3 {
            margin-bottom: 18px;
            font-size: 11px;
          }
   
}