.listings {
    padding: 0 60px 120px; /* Adjust padding for smaller screens */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
  }
  .h1_page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 26px;
    margin: 20px;
  }
  @media (max-width:1492px) {
    .listings {
        padding: 0px 15px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2px;
    }
    .h1_page{
 
      font-size: 22px;
      margin: 18px;
    }
  }
  @media (max-width:650px) {
    .h1_page{
      font-size: 17px;
      margin: 12px;
    }
  }